@import "./reset.scss";
@import "./variables.scss";

#root {
  background: var(--neutral--50);
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// provisional
section>* {
  margin-bottom: 1em;
}

// Static Variables

$admin-header-height: 76px;
$admin-footer-height: 48px;
$admin-nav-width: 250px;

// Global CSS

*,
*::before,
*::after {
  box-sizing: border-box;
}

.admin {
  --spacing: 1rem;

  // Flexbox Fallback
  display: flex;
  flex-wrap: wrap;

  // Grid
  display: grid;
  height: 100vh;

  grid-template-rows: $admin-header-height 1fr $admin-footer-height;
  grid-template-columns: $admin-nav-width 1fr;
  grid-template-areas:
    "header header"
    "nav    main"
    "footer footer";

  .header {
    display: flex;
    flex-basis: 100%;
    grid-area: header;
    height: $admin-header-height;
    background-color: var(--white);
    position: relative;
  }

  .sidebar {
    flex: 0 0 $admin-nav-width;
    grid-area: nav;
    border-right: 1px solid var(--border);
    background: var(--white);
    height: 100%;
    padding: 2.5rem 1.5rem;
  }

  &-content {
    flex: 1;
    grid-area: main;
    padding: var(--spacing);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .footer {
    display: flex;
    grid-area: footer;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    height: $admin-footer-height;
    padding: 0 var(--spacing);
    border-top: 1px solid var(--border);
    background: var(--white);
  }

  @media screen and (min-width: 48rem) {
    --spacing: 2rem;
  }
}