.header {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border, #E2E8F0);
  background: var(--white, #FFF);

  &-brand {
    display: flex;
    align-items: center;
    gap: var(--gap-regular, 1rem);
    flex-shrink: 0;
  }

  &-tagline {
    color: var(--brand-brand-main, #000);
    font-size: 1.125rem;
    font-weight: 500;
  }

  &-nav {
    display: flex;
    align-items: flex-start;
    gap: var(--gap-regular, 1rem);

    .nav-item {
      display: flex;
      padding: 0.5rem 1.5rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      border-radius: 2.25rem;
      text-decoration: none;
      color: var(--brand-brand-main, #000);
      border: 1px solid var(--border, #E2E8F0);
      background: var(--white, #FFF);
      transition: all 0.2s ease-in-out;

      &:hover {
        border-radius: 36px;
        border: 1px solid var(--border, #E2E8F0);
        background: var(--border, #E2E8F0);
      }

      &.active {
        border-radius: 2.25rem;
        color: var(--white, #FFF);
        border: 1px solid var(--brand-brand-main, #000);
        background: var(--brand-brand-main, #000);
      }
    }
  }

  &-account {
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: var(--gap-regular, 1rem);
    flex-shrink: 0;
  }
}

.account {

  &-content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: .25rem;
  }

  &-name {
    color: var(--slate-700, #334155);
    font-size: 0.875rem;
    font-weight: 500;
  }

  &-company {
    color: var(--slate-500, #64748B);
    font-size: 0.75rem;
    font-weight: 500;
  }

  &-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    color: var(--slate-500, #64748B);
    background-color: var(--slate-200, #E2E8F0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}