.footer {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  color: var(--slate-400, #94A3B8);

  &-nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .nav-item {
    color: var(--slate-400, #94A3B8);
    font-size: 0.875rem;
  }
}