.table-container {
  display: flex;
  padding: 1.25rem 0;
  flex-direction: column;
  align-items: flex-start;
  border-radius: var(--radius, 1rem);
  border: 1px solid var(--border);
  background: var(--white);
  overflow-x: scroll;
  margin: 1.5rem 0;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: var(--radius, 1rem);
  overflow: hidden;

  th,
  td {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 1rem 0.75rem;
  }

  th {
    color: var(--slate-500, #64748B);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
    text-transform: uppercase;
  }

  td {
    border-top: 1px solid var(--border);
    font-size: var(--p-ui);
    font-weight: 400;
    color: var(--text);
    text-align: left;
    white-space: nowrap;
  }
}